 <div class="user-details">
  <h1> Mi Experiencia </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Diseño</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Maquetación de páginas a través de HTML, diseño de interfaces de usuario y experiencia de usuario (UI/UX).</p>
    </div>
    <div class="tech">
      <h2>Código</h2>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <p>Manejo de librerías y frameworks en Javascript para frontend, Python en backend y manejo de bases de datos SQL</p>
    </div>
    <div class="tech">
      <h2>Herramientas</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-jira-plain-wordmark colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Control de versiones y trabajo en equipo a través de Git, Github y plataformas como Jira. Despliegue de entornos contenedores de aplicaciones en docker</p>
    </div>
</div>
